#cards::-webkit-scrollbar {
    height: 2.5px;
    cursor: pointer;
    transition: .3s;
  }
  
#cards::-webkit-scrollbar-track {
    background: #f1f1f12b;
}
   
#cards::-webkit-scrollbar-thumb {
    background: #ffffff4a;
    transition: .3s;
    cursor: pointer;
}
  
#cards::-webkit-scrollbar-thumb:hover {
    background: #ffffffc1; 
}

#fixedBg {
    background: #202020;
    z-index: -1;
}

.playerName {
    font-size: 16px;
}

#playerRight {
    margin-left: 20px;
}

.lp-label {
    margin: 0 8px 0 16px;
    font-size: 12px;
}

#playerOneLP, #playerTwoLP {
    font-size: 25px;
}

#playerTwoLP {
    margin-right: 12px;
}

.player {
    padding: 6px;
    width: 35%;
}

.you {
    background: linear-gradient(90deg, #006eff31, transparent);
}

.enemy {
    flex-direction: row-reverse;
    background: linear-gradient(-90deg, #ff2b2b23, transparent);
}

.enemy #playerRight {
    margin-left: 0;
    margin-right: 20px;
    flex-direction: row-reverse;
}

#topBar {
    width: 100%;
    box-shadow: 0 2.5px #fff;
    z-index: 20;
}

#playerImg {
    border-radius: 12px;
    width: 65px;
    height: 65px;
}

#gameCanvas {
    top: 8%;
    left: 0;
    width: 100vw;
    height: 92vh;
}

#leftBar, #rightBar {
    height: 100%;
    background: #00000061;
    width: 5%;
    justify-content: center;
}

#rightBar {
    left: unset;
    right: 0;
}

.cardPile.high {
    box-shadow: inset 0 0 0 2.5px #29bb4e;
}

.cardPile.mid {
    box-shadow: inset 0 0 0 2.5px #e4bd3b;
}

.cardPile.low {
    box-shadow: inset 0 0 0 2.5px #ff4848;
}

.cardPile {
    border-radius: 4px;
    background: #0005;
    margin-bottom: 12px;
    justify-content: center;
    padding: 12px;
}

#iconContainer {
    font-size: 35px;
    color: #fff5;
}

.separator {
    width: 2px;
    height: 24px;
    margin: 0 8px;
    background: #ffffff1f;
}

.infoItem {
    padding: 8px;
}

#timer, #gamePhase {
    font-size: 22px;
}

#playerHand {
    left: 6em;
    bottom: 1em;
    width: 6%;
    height: 8%;
    transition: .3s;
    align-items: flex-end;
    padding: 0;
}

#hover {
    padding: 12px;
    background: #0005;
    transition: .3s;
    box-shadow: 0 0 0 2.5px white;
}

#hoverIcon {
    font-size: 2rem;
}

#handCount {
    margin-left: 12px;
}

#card:not(:last-of-type) {
    margin-right: 12px;
}

#card {
    width: 6.5em;
    min-width: 6.5em;
    height: 10em;
    border-radius: 4px;
    flex-direction: column-reverse;
    background: #202020;
    transition: .3s;
}

#cardName {
    font-size: 0.5rem;
    padding: 8px;
    width: 85%;
    border-radius: 0 0 4px 4px;
}

#cardImg {
    width: 120%;
    left: -10px;
    position: relative;
}

#cardImgHolder {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

#cards {
    overflow: auto;
    opacity: 0;
    transition: .3s;
}

#playerHand:hover {
    width: fit-content;
    background: #00000061;
    padding: 8px;
    height: fit-content;
}

#playerHand:hover #cards {
    padding: 8px;
    opacity: 1;
}


#playerHand:hover #hover {
    margin: 8px;
}

#playmat {
    display: none;
    background: #ffffff0d;
    width: 90vw;
    height: 92vh;
    left: 5.25em;
}

.zone {
    width: 100px;
    height: 250px;
    background: black;
}

#deck-value {
    position: absolute;
    font-size: 1.5em;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    text-shadow: 0 0 5px black;
}

.cardPile:hover #deck-value {
    opacity: 1;
}